
body { 
    font-family : Helvetica, sans-serif, Arial; 
    font-size: 18px;
    font-weight : normal; 
    color : #000000; 
    background: white;
}

.myimg {
    display: table-row;
    text-align: center;
}

.myimg img {
    max-height: 90vh;
    max-width: 100%;
}

.fttext {
    font-weight: bold;
    font-size: 24px;
    
}

.ftordtext {
    font-weight: bold;
    font-size: 18px;
    color: lightblue;
}

#container {
    display: table;
    width: 95%;
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

